Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-dangling-handle,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-sizeof-expression,
  bugprone-stringview-nullptr,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-semicolon,
  bugprone-swapped-arguments,
  bugprone-use-after-move,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|[/\\])native[/\\](include|src)[/\\]'
SystemHeaders: false
FormatStyle: file
