Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-optin.cplusplus.*,
  clang-analyzer-unix.*,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-dangling-handle,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-return-const-ref-from-parameter,
  bugprone-sizeof-expression,
  bugprone-stringview-nullptr,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-semicolon,
  bugprone-swapped-arguments,
  bugprone-use-after-move,
  performance-avoid-endl,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-noexcept-destructor,
  performance-noexcept-move-constructor,
  performance-noexcept-swap,
  performance-trivially-destructible,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|[/\\])native[/\\](include|src)[/\\]'
SystemHeaders: false
FormatStyle: file
